<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
</ion-content> -->

<ion-content ion-padding>
  <h1>Click Button To Scan</h1>
 
  <!-- <ion-button (click)="scanCode()">
    Scan Code
  </ion-button> -->
 
  <div *ngFor="let Qr of barcodeScannerService.QrTable">
    <p>
      Scanned Code Text : <b>{{ Qr.texte }}</b>
    </p>
    <p>
      Scanned Code Format : <b>{{ Qr.format }}</b>
    </p>
    <p>
      Date : <b>{{ Qr.date }}</b>
    </p>
  </div>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="scanCode()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
</ion-content>
 
